<p id="notice"><%= notice %></p>

<h1>Codebits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codebits.each do |codebit| %>
      <tr>
        <td><%= codebit.name %></td>
        <td><%= codebit.code %></td>
        <td><%= codebit.language %></td>
        <td><%= link_to 'Show', codebit %></td>
        <td><%= link_to 'Edit', edit_codebit_path(codebit) %></td>
        <td><%= link_to 'Destroy', codebit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Codebit', new_codebit_path %>
